@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700;800&family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: #ebebeb;
    height: -webkit-fill-available;
}

body{
    width: 480px;
    height: 100vh;
    height: -webkit-fill-available;
    min-height: 90vh;
    top: 0;
    background: linear-gradient(242.59deg, #7da838 0%, #6db4b1 28.53%, #6f6f7c 75.52%);
    margin: 0 auto;
    background-color: #fff;
}

.navlist{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
}

.logo{
    display: none;
}

.navlist{
    list-style: none;
}

.nav-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
}

.nav-item .titles{
    width: 0;
    overflow: hidden;
    transition: .3s;
}

.nav-item:focus,
nav a.active{
    text-decoration: none;
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    transition: .3s;
}

.nav-item:focus .titles,
nav a.active .titles{
    width: 100%;
    margin-left: 8px;
    transition: .3s;
}

*:focus{
    outline: none;
    border: none;
}

#menu-icon{
    display: none;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 90vh;
    /* background: linear-gradient(242.59deg, #7da838 0%, #6db4b1 28.53%, #000000 75.52%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    position: absolute;
    bottom: 130px;
}

.container .image{
    position: absolute;
    top: 100px;
    order: -10;
}

.container .image img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.h-primary, .h-secondary{
    text-indent: 25px;
    font-size: 3.2rem;
    font-family: 'Dancing Script', cursive;
}

.special{
    font-size: 3.2rem;
    font-family: 'Dancing Script', cursive;
}

.h-capt{
    font-family: 'Poppins', sans-serif;
    color: #c3bebe;
    font-size: 0.9rem;
}

.animate-character {
    background-image: linear-gradient(-225deg,
            #282c09 0%,
            #7f09fe 29%,
            #93103c 67%,
            #c6eb10 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.container .buttons{
    display: flex;
    justify-content: space-between;
}

.container .buttons button{
    width: 100%;
    margin: 0 10px;
    padding: 8px 5px;
    border: 1px solid black;
    cursor: pointer;
    background: rgb(147, 179, 223);
    color: #df6113;
    font-weight: 600;
    margin-top: 10px;
}


.front-social {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.front-social a{
    padding: 5px 10px ;
    font-size: 1.3rem;
    color: #bba5e7e6;
    border: 1px solid;
    border-radius: 100%;
}

.box{
    display: none;
}

.aboutMe{
    display: grid;
    place-items: center;
    position: absolute;
    top: 80px;
}

.h-heading{
    color: #cb3f0c;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}


.caption .h-content{
    color: #edebeb;
    margin: 40px 32px;
    text-indent: 20px;
}

.container1{
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.box2 {
    margin: auto;
    margin-top: 25px;
    width: fit-content;
    height: 42%;
    border: 2px solid white;
    border-radius: 25px;
    padding: 20px 0px;
    background: linear-gradient(54deg, #221d1d, #518273);
    margin-bottom: 0;
}


.h-heading1{
    font-size: 3.2rem;
    color: #d2c109;
}

.box2 ul {
    list-style: none;
    display: flex;
    padding: 5px 30px;
}

.box2 ul li .icon {
    position: relative;
    display: block;
    line-height: 50px;
    font-size: 3.6em;
    width: 30px;
    text-align: center;
    transition: 0.5s;
    margin: 36px;
    margin-bottom: 10px;
    color: lightgrey;
}

.box2 ul li .titles {
    color: #e89999;
    font-family: 'Poppins', sans-serif;
}

.box2 h3 {
    font-size: 1.4rem;
    line-height: 15px;
    color: #e0e5d0;
    letter-spacing: 0.1em;
    text-shadow: 0.8px 0.6px #fff;
}

.container1 .tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    margin-top: 30px;

}

.container1 .tile .item {
    min-width: 140px;
    width: 220px;
    padding: 10px;
    background-color: #181818;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.container1 .tile .item a {
    text-decoration: none;
    font-weight: 300;
}

.tile img {
    width: 100%;
    height: 70%;
    border-radius: 12px;
}

.container1 .tile h4 {
    color: #fff;
    margin-top: 7px;
}

.container1 .tile .item:hover,
.container1 .tile .item:focus,
.container1 .tile .item:active {
    transform: scale(1.03);
    box-shadow: 2px 2px 5px #47fffc;
}

.container3 {
    position: absolute;
    top: 50px;
    left: 60px;
    width: fit-content;
    height: 80%;
    background-color: #393e467d;
    padding: 10px 5px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}


#contact-form{
    width: fit-content;
    min-height: 80%;
}


.container3 h1 {
    color: #47fffc;
    font-family: 'Poppins';
    text-align: center;
    margin-bottom: 30px;
}

.container3 .btn {
    cursor: pointer;
    display: inline-block;
    width: 85%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    margin-left: 16px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}


.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
    margin-left: 14px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 90%;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}

.container3 .icons {
    margin: 30px 35px;
    font-size: 2.4em;
}

@media screen and (max-width: 420px) {
    body{
        width: 420px;
    }

    .container3{
        position: relative;
        left: 40px;
        transition: 0.3s ease;
    }
}
@media screen and (max-width: 384px) {
    body{
        width: 384px;
    }

    .container3{
        position: relative;
        left: 20px;
        transition: 0.3s ease;
    }
}
@media screen and (max-width: 362px) {
    body{
        width: 362px;
    }


    .container3{
        position: relative;
        left: 10px;
        transition: all 0.3s ease;
    }
}

