*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#navbar{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: transparent;
}

.logo img {
    background-color: antiquewhite;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 100%;
    transition: 0.2s;
}

.logo span {
    display: none;
}

#menu-icon{
    color: rgb(2, 2, 2);
    font-size: 1.7rem;
    cursor: pointer;
}

.navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 140px;
    height: 25vh;
    background: #333ddd;
    display: flex;
    align-items: center; 
    flex-direction: column;
    padding: 10px 0px;
    margin-right: 6px;
    border-radius: 14px;
    transition: all .55s ease;
}
.navlist .icon{
    display: none;
}
.navlist .titles{
    color: #fff;
    font-weight: 600;
    margin-left: 0;
    display: block;
    margin: 7px 0;
}
.navlist.open{
    right: 0;
}

.container{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(242.59deg, #237d8d 0%, #a7a756 28.53%, #5f2668 75.52%);
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container .image{
    order: -10;
}

.container .image img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.text{
    margin-top: -100px;
}

.h-primary{
    font-size: 3.2rem;
}

.h-secondary{
    font-size: 3.2rem;
}

.container .buttons{
    margin: 20px 0;
}

.container .buttons button{
    width: 42%;
    margin: 0 10px;
    padding: 8px 5px;
    border: 1px solid black;
    border-radius: 20%;
    background: rgb(147, 179, 223);
    color: #0a00a0;
    font-weight: 500;
}

.front-social {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.front-social a{
    padding: 10px;
    font-size: 1.6rem;
    color: #c3bebe;
    border: 1px solid;
    border-radius: 100%;
}